# FastAPI and web server
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4

# Data processing and manipulation
numpy

# Document processing
pypdf==5.5.0
# markdown==3.4.3
# python-pptx==0.6.21
unstructured==0.10.16
unstructured-inference
# pdfminer.six==20221105

# Document processing and metadata extraction
PyPDF2==3.0.1
python-docx==1.1.2

# LangChain and vector databases
langchain>=0.3
langchain-core>=0.3
langchain-community>=0.3
langchain-text-splitters>=0.3
langchain-openai>=0.1.4
langchain-ollama==0.3.3 # Added for airgapped deployment

# Embedding models - CPU versions
# openai>=1.3.0

# Utilities
python-multipart>=0.0.20
requests>=2.31.0

# Environment and configuration
python-dotenv==1.1.0

# Vector store - CPU version
faiss-cpu>=1.7.0

# System monitoring
psutil==7.0.0

packaging==24.2