fastapi>=0.115.11
uvicorn>=0.34.0
python-dotenv==1.0.1
pydantic>=2.0,<3.0
langchain-core>=0.3.0
langchain-community>=0.3.2
python-multipart>=0.0.20 
typing-extensions
httpx>=0.24.0
PyYAML>=6.0.1
aiofiles>=24.1.0
pytest-shutil>=1.8.1
faiss-gpu-cu12>=1.7.2
vllm>=0.8.1
aiohttp
requests
langchain-ollama