# Web Framework
fastapi==0.111.1
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic>=2.0

# LangChain and AI
langchain-openai==0.2.4
langchain-community==0.3.3
langchain-core==0.3.13
langchain==0.3.4
langgraph==0.2.39
faiss-cpu==1.9.0 #https://github.com/kyamagu/faiss-wheels for GPU support

# Utilities
python-dotenv==1.0.0
typing-extensions==4.12.2