fastapi>=0.115.11
uvicorn[standard]>=0.34.0
langchain>=0.3
langchain-core>=0.3
langchain-community>=0.3
langchain-openai>=0.3
python-dotenv==1.0.1
faiss-gpu-cu12>=1.7.2
langgraph>=0.3
pydantic>=2.0,<3.0
pyyaml>=6.0.1
flask>=3.1
flask-cors>=5.0
pytest-shutil>=1.8.1
filelock>=3.17
portalocker>=3.1
